{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  <!-- {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} -->
{% endblock %}

{% block content %}
<div class="govuk-width-container ">
  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Amy Gill's profile details have been updated
    </h3>
    </div>
    </div>
<div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters">
  
<h1 class="govuk-heading-l">
Amy Gill's profile
</h1>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Email
    </dt>
    <dd class="govuk-summary-list__value">
      amy.gill@dwp.gov.uk
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
  </div>
  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Provider lot
    </dt>
    <dd class="govuk-summary-list__value">
     Lot 100
    </dd>
    <dd class="govuk-summary-list__actions">
  </dd>
  </div> -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Healthcare professional
    </dt>
    <dd class="govuk-summary-list__value">
     No
    </dd>
    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="">Change </a> -->

  </dd>
  
  </div>


  <div class="govuk-summary-list__row">
    <!-- <dt class="govuk-summary-list__key" style="border-bottom:0px;">
      Office location
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">
     Birmingham, Handsworth
    </dd>

    <dd class="govuk-summary-list__actions">
      <!-- <a class="govuk-link" href="location.html">Add </a> -->
  <!-- </dd> -->


  </div>




  <div class="govuk-summary-list__row">
    <!-- <dt class="govuk-summary-list__key" style="border-bottom:0px;">
    Skills
    </dt>
    <dd class="govuk-summary-list__value" style="border-bottom:0px;">

      <ul class="govuk-list govuk-list--bullet">
        <li style="white-space:nowrap;">PIP face to face </li>
        <li style="white-space:nowrap;">  PIP telephone </li> 
        
      </ul>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="available-for.html">Change</a>
    </dd> -->
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


</div>
<div class="govuk-grid-column-one-quarter">     

  <div class="app-related-items" role="complementary">
  
  <div class="has-action-list">
  <h2 class="govuk-heading-m" id="subsection-title">
  What you can do next
  </h2>
  <nav aria-labelledby="subsection-title">
  <ul class="govuk-list">
  
    <!-- <li>
      
        <a href="" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Complete profile (add skills)</a>
      
      
            </li> -->
          
        <li>
      
          <a href="" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Manage other profiles</a>
        
        
              </li>
              <li>
      
                <a href="" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Return to main menu</a>
              
              
                    </li>
       
        </ul>
      </nav>
    </div>

</div>

{% endblock %}
