{% extends "layouts/main-am.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container ">
        
  <main class="govuk-main-wrapper " id="main-content" role="main">
    
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

  <table id="menu-table">
      <tbody><tr>
      
      <td class="wide-margin">
      <h2 class="govuk-heading-m">Tasks to complete</h2>
      <ul class="govuk-list govuk-list--spaced">

        <li>
          <a class="govuk-link" href="" id="manage-appointments">Review new evidence (12)</a>
        </li>
        
        
        <li>
          <a class="govuk-link" href="" id="manage-availability">Confirm task is complete</a>
        </li>
        
      
      </ul>
      </td>
      
      
      
      </tr>
      
      </tbody></table>

            </div>
            <div class="govuk-grid-column-one-quarter">

              <table id="menu-table">
                  <tbody><tr>
                  
                  <td class="wide-margin">
                  <h2 class="govuk-heading-m">Manage</h2>
                  <ul class="govuk-list govuk-list--spaced">
            
                    <li>
                      <a class="govuk-link" href="manage-profiles.html" id="view-my-account">Manage profiles</a>
                    </li>
            
                    <li>
                      <a class="govuk-link" href="" id="manage-appointments">Appointments</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="" id="manage-availability">Availability</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="" id="unassigned-referrals">Assign new referrals (72)</a>
                    </li>
                    
                    
                    <li>
                      <a class="govuk-link" href="" id="create-referral">Create a referral</a>
                    </li>
                    
                    
                      <li>
                      <a class="govuk-link" href="" id="incomplete-referral">Incomplete referrals</a>
                    </li>
                    
                    
                      <li>
                      <a class="govuk-link" href="" id="change-to-pip-referral">Changes to PIP referrals</a>
                    </li>
                    
                  </ul>
                  </td>
                  
                  
                  
                  </tr>
                  
                  </tbody></table>
            
                        </div>
                        <div class="govuk-grid-column-one-quarter">

                          <table id="menu-table">
                              <tbody><tr>
                              
                              <td class="wide-margin">
                              <h2 class="govuk-heading-m">Search</h2>
                              <ul class="govuk-list govuk-list--spaced">
                        
                                <li>
                                  <a class="govuk-link" href="" id="view-my-account">Find a claimant</a>
                                </li>
                        
                                <li>
                                  <a class="govuk-link" href="" id="manage-appointments">View by caseload or status</a>
                                </li>
                                
                                
                              </ul>
                              </td>
                              
                              
                              
                              </tr>
                              
                              </tbody></table>
                        
                                    </div>      
        </div>
        
</main>
</div>
{% endblock %}
