{% extends "layouts/main-am.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

{% endblock %}


{% block content %}
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Profile removed
  </h1>
  <div class="govuk-panel__body">
    Amy Gill's profile has been successfully removed
  </div>
</div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">
<div>       
  <!-- <div class="app-related-items" role="complementary"> -->
  
  <div class="has-action-list">
  <h2 class="govuk-heading-m" id="subsection-title">
  What you can do next
  </h2>
  <nav aria-labelledby="subsection-title">
  <ul class="govuk-list">
  
    <!-- <li>
      
        <a href="available-for.html" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Add skills</a>
      
      
            </li> -->
          
        <li>
      
          <a href="profiles.html" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Manage profiles</a>
        
        
              </li>
              <li>
      
                <a href="" id="action_update_status" class="govuk-link govuk-link--no-visited-state">Return to main menu</a>
              
              
                    </li>
       
        </ul>
      </nav>
    </div>
  
  </div>
  </div>

  
        
{% endblock %}
