{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row" style="margin-top: -40px;">
  <div class="govuk-grid-column-full">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
Targeted support for PIP face to face assessments    </h1>
    </legend>
        <p>
      Select frequency
        </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england" checked>
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          100%
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          50%
        </label>
      </div>
            <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          25%
        </label>
      </div>
               <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          1%
        </label>
      </div>
            <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          30%
        </label>
      </div> -->
            <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          20%
        </label>
      </div> -->
      <!-- <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland" >
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          10%
        </label>
      </div> -->
    </div>
  </fieldset>
</div>
      <br><br>

      
      <a href="quality-review-confirmed.html"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
    </div>
  </div>

  </main>
</div>



{% endblock %}
