{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  
</header>


  
    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper" id="main-content">
        

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  

  <h1 class="govuk-heading-xl">
    Team Wren: prototypes
  </h1>

  <p class="govuk-body">This is the main contents page where different designs prototypes (workflow and gateway) can be accessed via links.</p>

  <p class="govuk-body">These designs are currently owned by team Wren.</p>

  <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="mailto:shah.hussain1@engineering.digital.dwp.gov.uk" class="govuk-link">Shah Hussain</a> - Interaction Designer</li>
  </ul>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Auto-selection UI designs</h2>

  <p class="govuk-body">Prototype flows for Auto-selection
  </p>
  
  <!-- <h3 class="govuk-heading-s"><a href="AM/main-menu5.html">Super user editable / Team lead - v1</a> </h3> -->
  <h3 class="govuk-heading-s"><a href="AM/main-menu8.html">Lot specific settings flow</a> </h3>
  <h3 class="govuk-heading-s"><a href="Am/quality-review-jd.html">Quality Review flow</a> </h3>
    <h3 class="govuk-heading-s"><a href="Am/lot-selection-main.html">Multi-lot flow</a> </h3>
  <!-- <h3 class="govuk-heading-s"><a href="Am/lot-selection-main.html">Multi-lot flow</a> </h3> -->

  <!-- <h3 class="govuk-heading-s"><a href="AM/account_skills_deletion2.html">Skills deletion v2</a> </h3> -->
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Agent Management - additional features</h2>

  <p class="govuk-body">Prototype flows for Agent Management additional features
  </p>
  
  <!-- <h3 class="govuk-heading-s"><a href="AM/main-menu5.html">Super user editable / Team lead - v1</a> </h3> -->
  <h3 class="govuk-heading-s"><a href="AM/main-menu6.html">Updated flow - includes new Manage Profiles page</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/account-amy-completed.html">Allow HCP to change from Yes to No</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/account-jane-completed.html">Allow HCP to change from No to Yes</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/account-amy-completed.html">Allow Office Location to be editable</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/main-menu7.html">Archived: Filter Manage Profiles</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/account-amy-completed.html">Leavers process</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/additional-skills.html">Additional skills</a> </h3>

  <!-- <h3 class="govuk-heading-s"><a href="AM/account_skills_deletion2.html">Skills deletion v2</a> </h3> -->


  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Agent management MVP</h2>

  <p class="govuk-body">Prototypes for Agent Management (to be used for user research) 
  </p>
  
  <!-- <h3 class="govuk-heading-s"><a href="AM/main-menu5.html">Super user editable / Team lead - v1</a> </h3> -->
  <h3 class="govuk-heading-s"><a href="AM/main-menu.html">Super user editable / Team lead</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/main-menu2.html">HCP</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/main-menu3.html">Admin</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/main-menu4.html">Migration - Team lead / Admin</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/main-menu5.html">Multi-lot user</a> </h3>
  <h3 class="govuk-heading-s"><a href="AM/account_skills_deletion.html">Skills deletion</a> </h3>
  <!-- <h3 class="govuk-heading-s"><a href="AM/account_skills_deletion2.html">Skills deletion v2</a> </h3> -->


    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Role Based Access Control</h2>
  
    <p class="govuk-body">Journey's for the different user types as part of implementation for RBAC
    </p>
    
   
    
    <h3 class="govuk-heading-s"><a href="RBAC/SU/main-menu.html">Super-user editable journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/SURO/main-menu.html">Super-user read only journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/Admin/main-menu.html">Admin journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/HCP/main-menu.html">HCP journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/HCP-audit/main-menu.html">HCP Audit journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/SU-ML/lot-selection-main.html">Multi-lot: Super-user editable journey</a> </h3>
    <!-- <h3 class="govuk-heading-s"><a href="RBAC/SURO-ML/">Multi-lot: Super-user read only journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/HCP-ML/">Multi-lot: HCP journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="RBAC/HCP-audit/lot-selection-main.html">Multi-lot: HCP Audit journey</a> </h3> -->
    <h3 class="govuk-heading-s"><a href="RBAC/error-screen.html">Error screen for users trying to access a page outside their user access.</a> </h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Multi-lot user journey</h2>
  
    <p class="govuk-body">Journey for multi-lot users who are assigned to claimants in more than a signle lot area.
    </p>
    
    <h3 class="govuk-heading-s"><a href="v1/Lot-selection-main.html">Multi-lot user journey</a> </h3>
    <h3 class="govuk-heading-s"><a href="v2/lot-selection-main.html">Multi-lot user journey v2.0</a> </h3>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Single-lot user journey</h2>
  
    <p class="govuk-body">Journey for single-lot users who are assigned to claimants in a signle lot area.
    </p>
    
    <h3 class="govuk-heading-s"><a href="v1/main-menu-single-lot.html">Single-lot user journey v1.0</a> </h3>
    <h3 class="govuk-heading-s"><a href="v1/single-lot-user-referral-outside-lot.html">Error screen when referral outside a users lot is selected v1.0</a> </h3>
    <h3 class="govuk-heading-s"><a href="v2/single-lot-user-referral-outside-lot.html">Error screen when referral outside a users lot is selected v2.0</a> </h3>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">HAS March 2026 vision</h2>
  
    <p class="govuk-body">Journey for HAS March 2026 vision - this is blue sky thinking / initial ideas at current.
    </p>
    <h3 class="govuk-heading-s"><a href="main-menu-new.html">Updated main menu</a> </h3>
    
    <h3 class="govuk-heading-s"><a href="v1/main-menu-mar2026-1.html">Task based workflow v1.0</a> </h3>
    <h3 class="govuk-heading-s"><a href="v2/main-menu-mar2026-2.html">Task based workflow v2.0</a> </h3>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">HAS navigation</h2>
  
    <p class="govuk-body">Prototypes for HAS navigation concepts.
    </p>
    <h3 class="govuk-heading-s"><a href="main-menu.html">Option 1</a> </h3>
    <h3 class="govuk-heading-s"><a href="main-menu2.html">Option 2</a> </h3>
    <h3 class="govuk-heading-s"><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1740576417451/0ade96fd0754036e9131586ebb88a35388024d59?sender=u877e4408630ee6f54d007658" target="_blank">Mural link - Options 1 and 2 ideation</a> </h3>
    
 
</div>


      </main>
    </div>
  




  

  

  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>



  <script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/auto-store-data.js"></script>



  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>



  <script type="module" src="/plugin-assets/govuk-frontend/dist/govuk-prototype-kit/init.js"></script>



  <script src="/plugin-assets/%40dwp%2Fdwp-frontend/components/dwp.min.js"></script>



  <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/all.jquery.min.js"></script>



  <script src="/plugin-assets/%40ministryofjustice%2Ffrontend/moj/init.js"></script>



  <script type="module" src="/public/javascripts/application.js"></script>




  




</body>
  </main>
</div>

{% endblock %}
